.App {
  border:1px solid black;

  text-align: center;
}



.all-task{
  border:1px solid black;
  margin: 1.5rem 0;
}

.task-container{
  margin:0.4rem 0
}

.completed-list{
  border:1px solid black;
  margin: 1.5rem 0;
 
}
.pending-list{
  border:1px solid black;

}